<script type="text/javascript">
  $(function(){
    $("#projects-tree").fancytree({
      extensions: ["persist"],
      persist: {
        cookiePrefix: "<%= @project.identifier %>",
        expandLazy: true,
        overrideSource: false,
        store: "auto"
      }
    });

    $( "a.collapse_projects").click(function(){
      $("#projects-tree").fancytree("getRootNode").visit(function(node){
        node.setExpanded(false);
      });
    });
    $( "a.expand_projects").click(function(){
      $("#projects-tree").fancytree("getRootNode").visit(function(node){
        node.setExpanded(true);
      });
    });
    $( "a.toggle_projects").click(function(){
      $("#projects-tree").fancytree("getRootNode").visit(function(node){
        node.toggleExpanded();
      });
    });

  });
</script>


<% if @subprojects.any? %>
  <style>
div#projects-tree { padding-left:0px; padding-bottom: 0px;}
  </style>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'style_projects_tree', :plugin => 'teo_project_overview' %>
  <%= stylesheet_link_tag 'style_fancytree', :plugin => 'teo_project_overview' %>
  <%= javascript_include_tag 'jquery_fancytree_cookie', :plugin => 'teo_project_overview' %>
  <%= javascript_include_tag 'jquery_fancytree_min', :plugin => 'teo_project_overview' %>
  <%= javascript_include_tag 'jquery_fancytree_persist', :plugin => 'teo_project_overview' %>
<% end %>

<div class="contextual"><a class="expand_projects" href="#"><%= l(:expand_all) %></a> | <a class="collapse_projects" href="#"><%= l(:collapse_all) %></a></div>
<h3><%=l(:label_subproject_plural)%></h3>
<div id="projects-tree">
<%= render_subproject_hierarchy(@project) %>
</div>

<% end %>
