<div class="contextual">
  <% if User.current.allowed_to?(:add_subprojects, @project) %>
    <%= link_to l(:label_subproject_new), new_project_path(:parent_id => @project), :class => 'icon icon-add' %>
  <% end %>
  <% if User.current.allowed_to?(:close_project, @project) %>
    <% if @project.active? %>
      <%= link_to l(:button_close), close_project_path(@project), :data => {:confirm => l(:text_are_you_sure)}, :method => :post, :class => 'icon icon-lock' %>
    <% else %>
      <%= link_to l(:button_reopen), reopen_project_path(@project), :data => {:confirm => l(:text_are_you_sure)}, :method => :post, :class => 'icon icon-unlock' %>
    <% end %>
  <% end %>
</div>

<h2><%=l(:label_overview)%></h2>

<% unless @project.active? %>
  <p class="warning"><span class="icon icon-lock"><%= l(:text_project_closed) %></span></p>
<% end %>

<div class="splitcontentleft">
  <% if @project.description.present? %>
  <div class="wiki">
    <%= textilizable @project.description %>
  </div>
  <% end %>
  <ul>
  <% unless @project.homepage.blank? %>
    <li><span class="label"><%=l(:field_homepage)%>:</span> <%= link_to @project.homepage, @project.homepage %></li>
  <% end %>
  <% render_custom_field_values(@project) do |custom_field, formatted| %>
    <li><span class="label"><%= custom_field.name %>:</span> <%= formatted %></li>
  <% end %>
  </ul>
  <div class="wiki wiki-page">
  <%= render :partial => 'subtree' %>
  </div>
  <%= render_wiki(@project) %>
</div>

<div class="splitcontentright">
  <% if @news.any? && authorize_for('news', 'index') %>
  <div class="news box">
    <h3><%=l(:label_news_latest)%></h3>
    <%= render :partial => 'news/news', :collection => @news %>
    <p><%= link_to l(:label_news_view_all), project_news_index_path(@project) %></p>
  </div>
  <% end %>

  <%= render :partial => 'members_box' %>

  <%= call_hook(:view_projects_show_right, :project => @project) %>
  <% if User.current.allowed_to?(:view_issues, @project) %>
  <div class="issues box">
     <h3><%=l(:label_issue_tracking)%></h3>
    <ul>
   <% if @trackers.present? %>
    <table class="list issue-report">
      <thead>
       <tr>
          <th></th>
          <th><%=l(:label_open_issues_plural)%></th>
          <th><%=l(:label_closed_issues_plural)%></th>
          <th><%=l(:label_total)%></th>
       </tr>
      </thead>
      <tbody>
      <% @trackers.each do |tracker| %>
        <tr class="<%= cycle("odd", "even") %>">
          <td class="name">
            <%= link_to tracker.name, project_issues_path(@project, :set_filter => 1, :tracker_id => tracker.id) %>
          </td>
        <td>
           <%= link_to @open_issues_by_tracker[tracker].to_i, project_issues_path(@project, :set_filter => 1, :tracker_id => tracker.id) %>
         </td>
          <td>
            <%= link_to (@total_issues_by_tracker[tracker].to_i - @open_issues_by_tracker[tracker].to_i), project_issues_path(@project, :set_filter => 1, :tracker_id => tracker.id, :status_id => 'c') %>
          </td>
          <td>
            <%= link_to @total_issues_by_tracker[tracker].to_i, project_issues_path(@project, :set_filter => 1, :tracker_id => tracker.id, :status_id => '*') %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
     <% end %>
    </ul>
     <p>
       <%= link_to l(:label_issue_view_all), project_issues_path(@project, :set_filter => 1) %>
       <% if User.current.allowed_to?(:view_calendar, @project, :global => true) %>
       <% end %>
     </p>
   </div>
  <% end %>
  <%= call_hook(:view_projects_show_left, :project => @project) %>

<% if User.current.allowed_to?(:view_time_entries, @project) %>
<div class="box">
  <h3 class="icon icon-time"><%= l(:label_spent_time) %></h3>
  <% if @total_hours.present? %>
    <p><%= l_hours(@total_hours) %></span></p>
  <% end %>
  <p>
  <% if User.current.allowed_to?(:log_time, @project) %>
    <%= link_to l(:button_log_time), new_project_time_entry_path(@project) %> |
  <% end %>
  <%= link_to(l(:label_details), project_time_entries_path(@project)) %> |
  <%= link_to(l(:label_report), report_project_time_entries_path(@project)) %>
  </p>
</div>
<% end %>
<%= call_hook(:view_projects_show_sidebar_bottom, :project => @project) %>

</div>

<% content_for :header_tags do %>
<%= auto_discovery_link_tag(:atom, {:controller => 'activities', :action => 'index', :id => @project, :format => 'atom', :key => User.current.rss_key}) %>
<% end %>

<% html_title(l(:label_overview)) -%>
